/* This will be the css layout for all pages of the store */
header{
    color:#FF9505;
    text-align: center;
    inset-inline: 15px;
    font-size: 30px;
}
footer{
    color: #FF9505;
    text-align: center;
    margin: 10px;
    width:100%;
    font-size: 20px;
    margin-top: 5vw;
}
.mainContent{
    display: flex;
    background-color: #87580D;
    /* width: 70%; */
    min-height: 10vw;
    /* height: 100%; */
    flex-direction: column;
    margin: 10px;
    /* align-content: stretch; */
    flex: 1 1 70%;
    justify-content: space-evenly;
}
.subMainContent{
    text-align: top;
    margin: 10px;
    border: 5px white;
    /* height: 10%; */
    min-height: 5vw;
    /* flex-wrap: wrap; */
    /* width:30%; */
}
.sideContent{
    background-color: #99621E;
    display:flex;
    /* width: 30%; */
    flex-direction: column;
    /* height: 100%; */
    margin: 10px;
    min-height: 5vw;  
    flex: 1 1 30%;
    justify-content: space-evenly;
}

.subSideContent{
    min-height: 5vw;
    text-align: top;
    margin: 10;
    width:100%; 
    /* flex-basis: 1 1 200px; */
    /* height: 20%; */
}

.navButtons{
    display: flex;
    background-color: #F3E37C;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;

}
a{
    border: 3px white;
    /* width: 40%; */
    /* height: 40%; */
    text-align: center;
    border: 5px white ;
    border-bottom-color: white;
    margin: 10px;
}
body{
    font-family: 'Lato', sans-serif;
}
.pageBack{
    background-image: url("./fancy-cushion.png");
    color: white;
}
section{
    display: flex;
    /* flex-direction: c; */
    /* flex-basis: 1 1 100%; */

}
.logo{
    height: 50px;
    width: 50px;
}
